@import "../../../main-styles.scss";

.form-container {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid darken($light-red, 30%);
  box-shadow: 0 0 0 2px rgba(red, 0.1);
}
